.sidenav-trigger
  position relative
  display inline-block
  width 35px
  height 35px
  background-image url('./img/search.svg')
  bottom 207px
  left 20px

nav   
  visibility hidden 

.togglesearch 
  background-image url('./img/search-form.svg')
  position relative
  display inline-block
  width 21px
  height 21px
  top 4px
  right 5px

.sidenav li>a
  text-align center
  background-color rgba(0,0,0,0.05)

.sidenav li>ahover 
  background-color rgba(0,0,0,0.10)


.user-view
  background-color #212121
  height 108px

.selectblock
  width 81px
  display inline-block

.selectlist, .radiolist
  padding-left 15px

.selectlabel
  display block
  position relative
  top 28px
  color #656565

.radiolabel
  display block
  position relative
  top 20px
  color #656565

.radioitem
  display inline-block
  margin-right 12px

label 
  top -8px

.col
  height 31px

.row
  margin-bottom 34px

// .datacontent
