<nav>
  <!-- navbar content here  -->
</nav>

<ul id="slide-out" class="sidenav">

  <li>
    <div class="user-view">
    </div>
    <a class="waves-effect howsearch"> <div class="togglesearch"></div> ID </a>
  </li>

  <li class="datacontent">
    <ul>
      <li>
        <div class="row">
          <div class="col s12">
            <div class="input-field inline">
              <input id="first_name" type="text">
              <label for="first_name">Имя</label>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="row">
          <div class="col s12">
            <div class="input-field inline">
              <input id="last_name" type="text">
              <label for="last_name">Фамилия</label>
            </div>
          </div>
        </div>
      </li>

      <li class="selectlist">
        <span class="selectlabel">Возраст</span>
        <div class="input-field col s6 selectblock">
          <select class="otAge">
            <option value="0" disabled selected>От</option>
            <option *ngFor="let item of age" [value]="item">{{item}}</option>
          </select>
        </div>
        <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
        <div class="input-field col s6 selectblock">
          <select class="doAge">
            <option value="0" disabled selected>До</option>
            <option *ngFor="let item of age" [value]="item">{{item}}</option>
          </select>
        </div>
      </li>

      <li class="radiolist">
        <span class="radiolabel">Пол</span>
        <p class="radioitem">
          <label>
            <input name="group1" type="radio" checked />
            <span>муж</span>
          </label>
        </p>
        <p class="radioitem">
          <label>
            <input name="group1" type="radio" />
            <span>жен</span>
          </label>
        </p>
      </li>

      <li class="regionblock">
        <span class="selectlabel">Регион</span>
        <div class="input-field col s12 regionselect">
          <select class="region-select-block country">
            <option class="select-text" value="" disabled selected>Страна</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="input-field col s12 regionselect">
          <select class="region-select-block city">
            <option class="select-text" value="" disabled selected>Город</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
      </li>

    </ul>
  </li>
  
  <li>
    <a class="waves-effect waves-light black btn" (click)="submit()">Найти</a>
  </li>

</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"></a>