
.main
  text-align center
  position: relative;
  bottom: 50px;

li
  margin-bottom: 50px;

.divider
  width 60%
  height 2px
  margin-top 50px
  background-color #979797

.search-icon  
  display inline-block
  width 80px
  height 80px
  background-image url('./img/search.svg')

.info-icon  
  display inline-block
  width 80px
  height 80px
  background-image url('./img/info.svg')

p
  font-size 25px
  color #212121
  width 60%

