<div class="main">

  <ul>
    <li>
      <h1>Social Enviroment</h1>

      <p>Сервис, дающий в одном месте все данные о людях в интернете</p>
      <div class="divider"></div>
    </li>

    <li>
      <a href="" class="search-icon"></a>

      <p>Для того, чтобы искать, нажмите на значёк поиска или воспользуйтесь строкой запроса</p>
      <div class="divider"></div>
    </li>
    <li>
      <a class="info-icon"></a>

      <p>Вся найденная информация была выложенна владельцами страниц во всеобщий доступ. Данные, доступ к которым ограничен
        по желанию их владельца, здесь выводиться не будут. Администрация не несет ответственность за последствия использования
        любой информации полученной с помощью этого сервиса.</p>
        <div class="divider"></div>
    </li>
  </ul>
</div>