
<div class="row">
  <div class="col s12" id="tabs-container">
    <ul class="tabs">

      <li *ngFor="let tab of tabs" class="tab col s2" #tabList>
          
        <a [href]="tab.id">{{tab.name}}</a>
      
      </li>

    </ul>
  </div>
</div>
<facebook-content-component class="container" id="facebook" [data]="leftApi.facebook.data_cards"></facebook-content-component>
<vk-content-component class="container" id="vk" [data]="leftApi.vk.data_cards"></vk-content-component>
<div id="vk" class="col s12">Test 2</div>
<div id="instagram" class="col s12">Test 3</div>
<div id="twitter" class="col s12">Test 4</div>
